Repository googleapis/nodejs-firestore, pull requests merged in 2020-12, with the labels that each got.

#1365 feat: Release Bundles
  dev/src/bundle.ts
  dev/src/index.ts
  dev/system-test/firestore.ts
  dev/test/bundle.ts
  types/firestore.d.ts
Labels: api: firestore, cla: yes

#1373 fix: stop using GRPC channels after RST_STREAM
  dev/src/pool.ts
  dev/test/pool.ts
Labels: api: firestore, cla: yes

#1374 chore: generate GAPIC metadata JSON file
  dev/src/v1/gapic_metadata.json
  dev/src/v1beta1/gapic_metadata.json
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: full

#1348 docs(sample): normalize sample's region tags
  samples/solution-counters.js
Labels: api: firestore, cla: yes, samples

#1380 fix: release clients that received a RST_STREAM error
  dev/src/pool.ts
  dev/test/pool.ts
Labels: api: firestore, cla: yes

#1379 chore: simplify Bulk Writer
  dev/src/bulk-writer.ts
  dev/src/write-batch.ts
  dev/system-test/firestore.ts
  dev/test/bulk-writer.ts
  types/firestore.d.ts
Labels: api: firestore, cla: yes

#1382 feat: adds UNORDERED_LIST type
  dev/protos/firestore_admin_v1_proto_api.d.ts
  dev/protos/firestore_admin_v1_proto_api.js
  dev/protos/firestore_v1_proto_api.d.ts
  dev/protos/firestore_v1_proto_api.js
  dev/protos/firestore_v1beta1_proto_api.d.ts
  dev/protos/firestore_v1beta1_proto_api.js
  dev/protos/google/api/field_behavior.proto
  dev/src/v1beta1/firestore_client_config.json
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: partial

#1384 docs: add instructions for authenticating for system tests
  CONTRIBUTING.md
  README.md
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: full
