Repository googleapis/nodejs-firestore, pull requests merged in 2021-01, with the labels that each got.

#1386 chore: update license headers
  .jsdoc.js
  dev/src/v1/firestore_admin_client.ts
  dev/src/v1/firestore_client.ts
  dev/src/v1beta1/firestore_client.ts
  dev/test/gapic_firestore_admin_v1.ts
  dev/test/gapic_firestore_v1.ts
  dev/test/gapic_firestore_v1beta1.ts
  synth.metadata
Labels: api: firestore, cla: yes, context: none

#1388 feat: introduces style enumeration
  dev/protos/protos.json
  synth.metadata
Labels: api: firestore, automerge, cla: yes, context: none

#1394 feat: add support for applying default converter in withConverter()
  dev/src/bulk-writer.ts
  dev/src/collection-group.ts
  dev/src/reference.ts
  dev/test/collection.ts
  dev/test/document.ts
  dev/test/query.ts
  types/firestore.d.ts
Labels: api: firestore, cla: yes

#1396 fix: handle ignoreUndefinedProperties in set(merge: true)
  dev/src/document.ts
  dev/test/ignore-undefined.ts
Labels: api: firestore, cla: yes
