Repository googleapis/nodejs-firestore, pull requests merged in 2023-10, with the labels that each got.

#1882 fix: Remove DocumentReference from cursor
  dev/src/reference.ts
  dev/system-test/firestore.ts
  dev/test/query.ts
Labels: api: firestore, size: s

#1910 chore: Fix or suppress eslint warnings introduced with UpdateData.
  dev/src/bulk-writer.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/transaction.ts
  dev/src/watch.ts
  dev/src/write-batch.ts
  dev/test/types.ts
Labels: api: firestore, size: s

#1873 feat: Sum and Average aggregations
  dev/src/aggregate.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/util.ts
  dev/system-test/firestore.ts
  dev/test/aggregate.ts
  dev/test/aggregateQuery.ts
  types/firestore.d.ts
Labels: api: firestore, size: xl

#1926 docs: Improve documentation for `DocumentReference.create`.
  dev/src/reference.ts
  types/firestore.d.ts
Labels: api: firestore, size: xs
