Repository googleapis/nodejs-firestore, pull requests merged in 2023-04, with the labels that each got.

#1841 Fix typo explaining conjunction
  dev/src/filter.ts
  types/firestore.d.ts
Labels: api: firestore, size: xs

#1831 feat: Sum and Average Aggregations.
  dev/src/aggregate.ts
  dev/src/aggregate_alias.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/util.ts
  dev/system-test/firestore.ts
  dev/test/aggregate.ts
  types/firestore.d.ts
Labels: api: firestore, size: xl

#1844 feat: Add long-alias support for aggregations.
  dev/src/aggregate.ts
  dev/src/aggregate_alias.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/system-test/firestore.ts
  dev/test/aggregateQuery.ts
Labels: api: firestore, size: m
