Repository googleapis/nodejs-firestore, pull requests merged in 2023-12, with the labels that each got.

#1954 ci: Fix build issue b/315204283
  dev/test/types.ts
Labels: automerge

#1958 docs: Re-write the sample code for FirestoreDataConverter.
  types/firestore.d.ts
Labels: api: firestore, samples, size: m

#1743 test: Add test coverage for logical termination
  dev/system-test/firestore.ts
Labels: api: firestore, size: m

#1960 Firestore: Add test that verifies aggregate query error message when missing index
  dev/system-test/firestore.ts
Labels: api: firestore, size: m

#1937 feat: Expose databaseId and projectId getter on Firestore class
  dev/src/index.ts
Labels: automerge, api: firestore, size: xs
