Repository googleapis/nodejs-firestore, pull requests merged in 2023-02, with the labels that each got.

#1818 fix(deps): use google-gax v3.5.3
  package.json
Labels: api: firestore, size: xs

#1813 fix: emulator support for system tests
  dev/system-test/firestore.ts
  package.json
Labels: automerge, api: firestore, size: l

#1825 fix: update generated proto types; fix the update script
  dev/protos/firestore_admin_v1_proto_api.d.ts
  dev/protos/firestore_admin_v1_proto_api.js
  dev/protos/firestore_v1_proto_api.d.ts
  dev/protos/firestore_v1_proto_api.js
  dev/protos/firestore_v1beta1_proto_api.d.ts
  dev/protos/firestore_v1beta1_proto_api.js
  dev/protos/update.sh
  dev/protos/v1.json
  dev/protos/v1_admin.json
  dev/protos/v1beta1.json
Labels: api: firestore, size: xl

#1801 feat: OR Query support
  dev/protos/firestore_admin_v1_proto_api.d.ts
  dev/protos/firestore_admin_v1_proto_api.js
  dev/protos/firestore_v1_proto_api.d.ts
  dev/protos/firestore_v1_proto_api.js
  dev/protos/firestore_v1beta1_proto_api.d.ts
  dev/protos/firestore_v1beta1_proto_api.js
  dev/protos/update.sh
  dev/protos/v1.json
  dev/protos/v1_admin.json
  dev/protos/v1beta1.json
  dev/src/filter.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/system-test/firestore.ts
  dev/test/query.ts
  package.json
  types/firestore.d.ts
  types/protos/firestore_v1_proto_api.d.ts
  types/protos/firestore_v1beta1_proto_api.d.ts
Labels: api: firestore, size: xl
