Repository googleapis/nodejs-firestore, pull requests merged in 2024-03, with the labels that each got.

#2007 fix: ReadOnly transactions do not need to commit nor rollback.
  dev/src/transaction.ts
  dev/test/transaction.ts
Labels: api: firestore, size: s

#2016 fix: update service definitions
  dev/protos/admin_v1.json
  dev/protos/firestore_admin_v1_proto_api.d.ts
  dev/protos/firestore_admin_v1_proto_api.js
  dev/protos/firestore_v1_proto_api.d.ts
  dev/protos/firestore_v1_proto_api.js
  dev/protos/firestore_v1beta1_proto_api.d.ts
  dev/protos/firestore_v1beta1_proto_api.js
  dev/protos/google/protobuf/duration.proto
  dev/protos/update.sh
  dev/protos/v1.json
  dev/protos/v1beta1.json
Labels: api: firestore, owl-bot-copy, size: xl

#2022 chore: include dayofweek proto in update.sh
  dev/protos/update.sh
Labels: api: firestore, size: xs

#2014 feat: Query Profile
  dev/src/aggregate.ts
  dev/src/convert.ts
  dev/src/index.ts
  dev/src/query-profile.ts
  dev/src/reference.ts
  dev/src/serializer.ts
  dev/system-test/firestore.ts
  dev/test/aggregateQuery.ts
  types/firestore.d.ts
Labels: api: firestore, size: xl

#2028 Markduckworth/qp fn
  CHANGELOG.md
  dev/src/aggregate.ts
  dev/src/convert.ts
  dev/src/index.ts
  dev/src/query-profile.ts
  dev/src/reference.ts
  dev/src/serializer.ts
  dev/system-test/firestore.ts
  dev/test/aggregateQuery.ts
  package.json
  samples/package.json
  types/firestore.d.ts
Labels: api: firestore, size: xl

#2032 chore: run api-report for main
  api-report/firestore.api.md
Labels: api: firestore, size: m
