Repository googleapis/nodejs-firestore, pull requests merged in 2024-02, with the labels that each got.

#1996 fix: Add missing type for exposed database id
  types/firestore.d.ts
Labels: api: firestore, size: xs

#2000 markduckworth/api reference cleanup
  api-report/firestore.api.md
  dev/src/bulk-writer.ts
  dev/src/document.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/util.ts
  dev/src/write-batch.ts
  package.json
Labels: api: firestore, size: l

#1998 ci: Implement api-report script and check-in an initial API report
  api-report/firestore.api.md
  dev/src/bulk-writer.ts
  dev/src/document.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/util.ts
  dev/src/write-batch.ts
  package.json
  scripts/api-report.js
Labels: api: firestore, size: xl

#2002 fix: Optimize Transaction PITR
  dev/src/document-reader.ts
  dev/src/index.ts
  dev/src/reference.ts
  dev/src/transaction.ts
  dev/system-test/firestore.ts
  dev/test/transaction.ts
Labels: api: firestore, size: l
